@import url("./listaCardsDahsboard.css");
@import url("./secaoChamados.css");
@import url("../Componentes/Input/inputSelect.css");

@media (min-width:0px){
    #body{
        display: flex;
        flex-direction: row;
        align-items: stretch;

        background-color: var(--mono-background);
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;

        padding-top: 1.875rem;
        
    }
    .secao__conteudo__primario{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100vw;

        padding-left: 6.196rem;
    }
}